In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#SK-Learn
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import PolynomialFeatures
#Scalers
from sklearn.preprocessing import StandardScaler,MinMaxScaler
#Modelos Lineales
from sklearn.linear_model import LinearRegression , Ridge
from sklearn.svm import SVR
#Metricas
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

### DATASET

In [2]:
train = pd.read_csv(r'C:\Users\lucas\Dropbox\UTN\5° Año\Ciencia de Datos\ML Strategy\Xy_train.csv', delimiter=',', parse_dates = True)
test = pd.read_csv(r'C:\Users\lucas\Dropbox\UTN\5° Año\Ciencia de Datos\ML Strategy\X_test.csv', delimiter=',', parse_dates = True)

In [3]:
train.head()

          X         y
0  2.273360  6.054685
1  3.167583  4.581428
2  7.973655  5.392507
3  6.762547  3.108068
4  3.911096  4.225744

In [4]:
test.head()

          X
0  6.170800
1  6.302022
2  8.689293
3  2.376897
4  2.707320

In [5]:
# CREO MI VARIABLE DEPENDIENTE
ytrain = train[["y"]]

In [6]:
# CREO MI VARIABLE INDEPENDIENTE
xtrain = train[["X"]]

In [7]:
# Creo el estimador Support Vector Regression y fiteo mis datos
est = SVR()
est.fit(xtrain,ytrain)

C:\Users\lucas\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVR()

In [11]:
# A partir de las xtest, predigo valores
ypred = est.predict(test)
ypred

array([3.3108712 , 3.34834183, 7.64670096, 5.01267514, 5.24020032,
       3.49195675, 7.18516789, 1.90886591, 8.54015555, 5.22442667,
       5.30608814, 3.40116696, 8.60674105, 2.50427966, 4.17302435,
       6.24859109, 3.89254313, 3.29728745, 4.20264617, 3.34029246])